extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Webpack-template with Pug';
    - var description='Description for webpack + Pug';
    - var pageClass='index-page';

block content
  .first
    .container
      .row 
        .col-6 
          p sdasda 
        .col-6 
          p sdfsd


block script
