extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Webpack-template with Pug';
    - var description='Description for webpack + Pug';
    - var pageClass='index-page';

block content
  
  include ../includes/modules/header2
  .first
    .container
      .row 
        .col-lg-7.col-6.px-lg-3.px-1
          .block 
            .d-lg-block.d-none
              p.block-title.mb-1 Где заказать ?
              p.fw-semi 
                span Найдите товары по лучшей цене в своем городе. 
                span.c-brown Вы найдете любой товар на свой вкус и под свой бюджет. 
              a.btn.lh-55.mt-3(href="#") СМОТРЕТЬ ПРЕДЛОЖЕНИЯ В ВАШЕМ ГОРОДЕ
            a.d-lg-none.text-center(href="#") 
              img.mx-auto.mb-2(src="#", alt="icon")
              span.fs-25.fw-black Заказать <br> товар
        .col-lg-5.col-6.px-lg-3.px-1
          .block
            .d-lg-block.d-none
              p.block-title.mb-1 Обучение онлайн
              p.fw-semi.c-brown Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              a.btn.lh-55.mt-3(href="#") ПЕРЕЙТИ В ОНЛАЙН ШКОЛУ
            a.d-lg-none.text-center(href="#") 
              img.mx-auto.mb-2(src="#", alt="icon")
              span.fs-25.fw-black Онлайн <br> ШКОЛА
              
block script