@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/base";

.list {
  &-item {
    font-size: 16px;
    line-height: 21px;
    color: #999999;
  }
}
.title {
  font-weight: 900;
  font-size: 45px;
  line-height: 61px;
}
.title2 {
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
}

.link{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $blue;
}

.btn {
  background: $yellow ;
  border-radius: 7px;
  line-height: 55px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: $black ;
  padding: 0 30px;
  &-pink {
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: $white;
    background: $pink;
    border-radius: 7px;
    padding: 0 10px;
    white-space: nowrap;
    flex-shrink: 0;
    &.__small {
      font-size: 14px;
      line-height: 33px;
      position: relative;
      z-index: 2;
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        width: 54px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.04%);
        pointer-events: none;
        z-index: 1;
      }
    }
  }
  &-category {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 7px 15px;
    color: #333333;
    background: #FAF8F4;
    box-shadow: 0px 1px 3px #CBCBCB;
    border-radius: 5px;
    margin-right: 15px;
    flex-shrink: 0;
    white-space: nowrap;
  }
  &-filter {
    line-height: 32px;
    font-size: 11px;
    padding: 0 23px;
    
  }
}

.line-vertival {
  @include box(2px,32px);
  background-color: $black;
  margin: 0 25px;
}

#more {
  max-width: 370px;
  width: 100%;
}

.first {
  background: #f4f2ee;
  padding: 44px 0;
}

.block {
  background: $white;
  border: 2px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 20px 24px 30px;
  &-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
  }
  img {
    display: block;
    @include box(40px,40px);
    
  }
}

.second {
  padding: 40px 0;
}
.fourth  {
  padding: 90px 0 70px;
}

.block-category {
  background: $white;
  box-shadow: 0px 1px 3px #CBCBCB;
  border-radius: 9px;
  padding: 35px 10px 15px;
  transition: background-color .15s ease-in-out;
  &:hover {
    background-color: #faf8f4;
    img {
      transform: translateY(-10px);
      
    }
  }
  &__text {
    font-weight: 900;
    font-size: 21px;
    line-height: 28px;
    display: block;
  }
  &__img {
    @include box(170px,150px);
    margin: 0 auto;
    object-fit: contain;
    transition: transform .15s ease-in-out,-webkit-transform .15s;
  }
  &.block-subcategory {
    width: 248px;
    flex-shrink: 0;
    margin-right: 24px;
    .block-category__img {
      @include box(100%,60px);

    }
  }
}

.scroll-x {
  overflow-x: auto; 
  width: 100%;
  margin-left: -10px;
  padding-left: 10px;
  width: calc(100% + 10px);
  &::-webkit-scrollbar {
    display: none;
  }
  .s-PostPreview {
    min-width: 285px;
  }
}
.s-PostPreview {
  position: relative;
  display: block;
  overflow: hidden;
  &_b-Pic {
    position: relative;
    display: flex;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    .b-ImagePlaceholder {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &_image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  &.__mode_tv:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: url("../img/play-button.svg") no-repeat center / 50px;
  }
  &.__mode_tv .s-PostPreview_b-Pic {
    border-radius: 12px;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
      float: left;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
      background-image: linear-gradient(180deg ,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
      content: '';
    }
  }
  &.__mode_tv .s-PostPreview_b-Content {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &_b-Title {
    overflow: hidden;
    line-height: 1.1;
    font-weight: 600;
  }
  &.__mode_tv .s-PostPreview_b-Title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
  }
  &_b-Counters {
    margin-top: 10px;
  }
  &_b-Tag {
    display: block;
    color: #a2a09d;
    font-weight: 500;
    font-size: 14px;
  }
  &.__mode_fullNewMain .s-PostPreview_b-Tag {
    line-height: 1.6;
  }
  &.__mode_fullNewMain .s-PostPreview_b-Title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 30px;
  }
  &.__mode_fullNewMain .s-PostPreview_b-Text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
  }
  
  &.__mode_inlineNew {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px #cbcbcb;
    box-shadow: 0 1px 3px #cbcbcb;
    .s-PostPreview_b-Wrapper {
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
    .s-PostPreview_b-Pic, .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Video {
      flex-shrink: 0;
      width: 152px;
      height: 100%;
      min-height: 132px;
    }
    .s-PostPreview_b-Content {
      padding: 10px 20px;
    }
  }
 
}
.b-ImagePlaceholder {
  position: relative;
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.__mode_tv .b-Counter {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  
}

.s-TVPostPreviews_b-Posts .s-PostPreview {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 276.83333px;
  margin-right: 14px;
}
.b-Counter {
  display: inline-flex;
  align-items: center;
  color: #9d9d9d;
  font-size: 10px;
  line-height: 12px;
  vertical-align: middle;
  &:before {
    position: relative;
    margin-right: 5px;
    content: '';
  }
  &__views:before {
    @include box(12px);
    background: url("../img/eye.svg") no-repeat center / contain;
  }
  &__likes:before {
    @include box(12px);
    background: url("../img/heart.svg") no-repeat center / contain;
  }
  &__comments:before {
    @include box(12px);
    background: url("../img/chat.svg") no-repeat center / contain;
  }
}
.b-Counter+.b-Counter {
  margin-left: 10px;
}
.s-TVPostPreviews_b-Posts_list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,1fr);
}
.b-Section.__aside_right {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 790px 360px;
}
.b-Section_list.__col-2 {
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 80px;
  grid-template-columns: repeat(2,1fr);
}
.b-Section_list.__col-2 .s-PostPreview.__mode_fullNewMain, .b-Section_list.__col-2 .s-PostPreview.__mode_inlineNewMain {
  grid-column-start: 1;
  grid-column-end: 3;
}

.s-PostPreview_b-Pic {
  position: relative;
  display: flex;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}
.s-PostPreview.__mode_fullNewMain {
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px #cbcbcb;
  box-shadow: 0 1px 3px #cbcbcb;
}
.b-Section_list.__vertical {
  display: grid;
  grid-row-gap: 20px;
}

.s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Pic:before, .s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Video:before {
  content: '';
  display: block;
  padding-top: 56.25%;
  float: left;
}
.s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Content {
  padding: 20px 30px;
}
.s-PostPreview.__mode_fullNew {
  border-radius: 8px;
  box-shadow: 0 1px 3px #cbcbcb;
  &.s-PostPreview_b-Content {
    padding: 15px 30px 30px;
  }
}

.s-PostPreview.__mode_fullNew {
  .s-PostPreview_b-Content {
    padding: 20px 30px 25px;
  }
  .s-PostPreview_b-Tag {
    line-height: 1.6;
  }
}
.b-ShoppingGids_list {
  display: grid;
  grid-row-gap: 55px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.s-PostPreview.__mode_gid {
  border-radius: 12px;
  box-shadow: 0 1px 3px #cbcbcb;
  height: 100%;
  .s-PostPreview_b-Content {
    padding: 20px 30px 40px;
  }
  .s-PostPreview_b-Title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
  }
  .s-PostPreview_b-Text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  }
}
.s-PostPreview.__mode_inlineNew .s-PostPreview_b-Title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}
.s-PostPreview.__mode_fullNew .s-PostPreview_b-Pic:before, .s-PostPreview.__mode_fullNew .s-PostPreview_b-Video:before {
  content: '';
  display: block;
  padding-top: 56.25%;
  float: left;
}
.s-PostPreview.__mode_gid .s-PostPreview_b-Pic:before, .s-PostPreview.__mode_gid .s-PostPreview_b-Video:before {
  content: '';
  display: block;
  padding-top: 56.25%;
  float: left;
}
.max-396 {
  max-width: 396px
}
.b-Section_logo {
  display: block;
  margin-bottom: 25px;
  width: 130px;
  img {
    display: block;
    width: 100%;
  }
}
.s-PostPreview.__mode_inlineNew .s-PostPreview_b-Pic, .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Video {
  flex-shrink: 0;
  width: 152px;
  height: 100%;
  min-height: 132px;
}
.s-PostPreview.__mode_inlineNew .s-PostPreview_b-Tag {
  line-height: 1.6;
  font-size: 10px;
}
.b-Section_titleAside {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.b-ReportPreview {
  display: block;
  min-height: 110px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px #cbcbcb;
  box-shadow: 0 1px 3px #cbcbcb;
  padding: 10px 20px;
  &_date {
    color: #a2a09d;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.6;
  }
  &_title {
    font-weight: 600;
    line-height: 1.6;
    font-size: 14px;
  }
}


@import "modules/modules";


.relative {
  position: relative;
}

@import "utils/media";