include ../utils/mixins


block variables
    // Это основа для страниц
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport" content="width=376,initial-scale=1")
        meta(name="keywords" content="")

    body(class=pageClass)
        div(class="content-wrapper")
            block content

        script(type="text/javascript" src="assets/js/jquery-3.6.min.js")

    block script
    
