html {
  font-family: $mainFont;
  font-size: $baseFontSize;
  line-height: 24px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: $baseFontSize;
  line-height: 24px;
  font-weight: 400;
  font-family: $mainFont;
  font-style: normal;
  color: #000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-datetime-edit-year-field:not([aria-valuenow]), input[type="date"]::-webkit-datetime-edit-month-field:not([aria-valuenow]), input[type="date"]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: #000;
}

input[type="date"] {
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    font-family: "SegoeUI", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 165%;
    color: #ccc;
  }
}

*::-webkit-input-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 165%;
  color: #ccc;
}

*:-moz-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 165%;
  color:#ccc;
}

*::-moz-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 165%;
  color: #ccc;
}

*:-ms-input-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 165%;
  color: #ccc;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

ol {
  counter-reset: li;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

input, button, textarea, select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
}

audio, canvas, iframe, img, svg, video, textarea {
  vertical-align: middle;
}

svg {
  flex-shrink: 0;
  fill: none;
}

textarea {
  resize: none;
  width: 100%;
  outline: none;
  appearance: none;
}

section {
  position: relative;
}

input, select, button {
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #000;
  display: block;
  &:hover {
    appearance: none;
    text-decoration: none;
    color: $black
  }
}

p a {
  display: inline;
  font-family: "SegoeUI", sans-serif;
}

input, textarea {
  width: 100%;
  appearance: none;
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  margin: 20px 0;
}
