


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1230px;
    }
}
@media (min-width: 992px) {
  .max-lg-396 {
    max-width: 396px;
  }
}

@media (max-width: 991px) {
  .header {
    background-color: $white;
  }
  .navbar-brand {
    border-radius: 50%;
    background: #C4C4C4;
    @include box(55px);
    font-size: 9px;
    padding: 0;
    line-height: 55px;
    text-align: center;
  }
  #sign-in {
    line-height: 26px;
    padding: 0 10px;
    font-weight: 900;
    font-size: 12px;
  }
  .first {
    padding: 143px 0 15px;
  }
  .s-PostPreview.__mode_fullNew.__state_published .s-PostPreview_b-Pic {
    flex-shrink: 0;
    width: 152px;
    height: 100%;
    min-height: 132px;
  }
  .s-PostPreview.__mode_fullNew .s-PostPreview_b-Wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .s-PostPreview.__mode_fullNew .s-PostPreview_b-Title{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
  }
  .s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 18px;
  }
  .s-PostPreview.__mode_fullNew.s-PostPreview_b-Content, .s-PostPreview.__mode_fullNew .s-PostPreview_b-Content, .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Content, .s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Content {
    padding: 10px 15px;
  }
  .fourth {
    padding: 40px 0;
  }
  .s-PostPreview.__mode_gid .s-PostPreview_b-Content {
    padding: 12px 20px 20px;
  }
  .s-PostPreview.__mode_gid .s-PostPreview_b-Title {
    font-size: 20px;
  }
  .b-Section_list.__vertical {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    will-change: transform;
    margin-right: -20px;
    margin-left: -20px;
    overflow: hidden;
    padding: 5px 20px;
    overflow-x: auto;
  }
  .fifth .b-Section_list .b-ReportPreview{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 276.83333px;
    margin-right: 14px;
  }
  .fifth .s-PostPreview.__mode_inlineNew.__state_published{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 276.83333px;
    margin-right: 14px;
  }
  .fifth .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Pic, .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Video {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    min-height: 155px;
  }
  .fifth .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Wrapper {
    height: auto;
    display: block;
  }
}

@media (max-width: 767px) {
  .block-category {
    &__img {
      @include box(100%, 76px)
    }
    &__text {
      font-size: 15px;
      line-height: 21px;
    }
  }
  h2, .title2 {
    font-size: 25px;
    line-height: 34px
  }
  .b-Section_list.__vertical {
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 15px;
  }
  .b-Section_logo {
    width: 100px;
}
}
