


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1230px;
    }
}
@media (min-width: 992px) {
  .max-lg-396 {
    max-width: 396px;
  }
}

@media (min-width: 576px) {
  .fs-sm-20 {
    font-size: 20px;
    line-height: 26.6px;
  }
}

@media (max-width: 1199px) {
  .card-t__img {
    height: 300px;
  }
}
@media (max-width: 991px) {
  .header {
    background-color: $white;
  }
  .navbar-brand {
    border-radius: 50%;
    background: #C4C4C4;
    @include box(55px);
    font-size: 9px;
    padding: 0;
    line-height: 55px;
    text-align: center;
  }
  #sign-in {
    line-height: 26px;
    padding: 0 10px;
    font-weight: 900;
    font-size: 12px;
  }
  .first {
    padding: 143px 0 15px;
  }
  .s-PostPreview.__mode_fullNew.__state_published .s-PostPreview_b-Pic {
    flex-shrink: 0;
    width: 152px;
    height: 100%;
    min-height: 132px;
  }
  .s-PostPreview.__mode_fullNew .s-PostPreview_b-Wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .s-PostPreview.__mode_fullNew .s-PostPreview_b-Title{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
  }
  .s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 18px;
  }
  .s-PostPreview.__mode_fullNew.s-PostPreview_b-Content, .s-PostPreview.__mode_fullNew .s-PostPreview_b-Content, .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Content, .s-PostPreview.__mode_fullNewMain .s-PostPreview_b-Content {
    padding: 10px 15px;
  }
  .fourth {
    padding: 40px 0;
  }
  .s-PostPreview.__mode_gid .s-PostPreview_b-Content {
    padding: 12px 20px 20px;
  }
  .s-PostPreview.__mode_gid .s-PostPreview_b-Title {
    font-size: 20px;
  }
  .b-Section_list.__vertical {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    will-change: transform;
    margin-right: -20px;
    margin-left: -20px;
    overflow: hidden;
    padding: 5px 20px;
    overflow-x: auto;
  }
  .fifth .b-Section_list .b-ReportPreview{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 276.83333px;
    margin-right: 14px;
  }
  .fifth .s-PostPreview.__mode_inlineNew.__state_published{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 276.83333px;
    margin-right: 14px;
  }
  .fifth .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Pic, .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Video {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    min-height: 155px;
  }
  .fifth .s-PostPreview.__mode_inlineNew .s-PostPreview_b-Wrapper {
    height: auto;
    display: block;
  }
  .block-category.block-subcategory {
    width: 130px;
    margin-right: 14px;
    padding: 12px 10px;
  }
  .block-category.block-subcategory .block-category__img {
    height: 37px;
  }
  .block-category.block-subcategory .block-category__text {
    font-size: 12px;
    line-height: 16.21px;
  }
  .card-t__img {
    height: 220px;
  }
  .card-b__pink {
    font-size: 14px;
    line-height: 19px
  }
  .card-b__title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 3px;
  }
  .card-b__text {
    font-size: 11px;
    line-height: 15px;
  }
  .card-b__brand, .card-b__brand-img {
    @include box(15px);
    margin-right: 3px;
  }
  .card-b__brand-name {
    font-size: 9px;
    line-height: 12px;
  }
  .card-b__status-img {
    @include box(14px, 10px);
  }
  .card-b__status-text {
    font-size: 9px;
    line-height: 11px;
  }
  .header-top {
    border-bottom: 1px solid #E1E1E1;
  }
}

@media (max-width: 767px) {
  .block-category {
    &__img {
      @include box(100%, 76px)
    }
    &__text {
      font-size: 15px;
      line-height: 21px;
    }
  }
  h2, .title2 {
    font-size: 25px;
    line-height: 34px
  }
  .b-Section_list.__vertical {
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 15px;
  }
  .b-Section_logo {
    width: 100px;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 25px;
    line-height: 34px;
  }
  .card-t__img {
    height: 43vw;
  }
  .b-Filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black,0.6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 27;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    &.collapse {
      display: flex;
    }
    &.show {
      opacity: 1;
      pointer-events: auto;
      .b-Filter_container {
        transform: translateX(0);
      }
    }
  }
  .b-Filter_container {
    background: $white;
    border-radius: 15px 0 0 15px;
    width: calc(100% - 60px);
    padding: 5px 25px 30px;
    min-height: 345px;
    transform: translateX(100px);
    transition: all 0.3s ease;
  }
  .s-ListFilter_b-Section {
    width: 100%;
    margin: 0 0 23px 0;
  }
  .s-ListFilter_b-Section_toggle {
    max-width: 100%;
    position: relative;
    .arrow-toggle {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      z-index: 3;
    }
    &.collapsed {
      .arrow-toggle {
        transform: translateY(-50%) rotate(0);
      }
    }

  }
  .s-ListFilter_b-Section_content {
    position: relative;
    border-radius: 9px;
    box-shadow: none;
    margin-top: -64px;
    z-index: 2;
    padding: 0 25px 25px;
  }
  .s-ListFilter_b-Section_title {
    padding: 21px 25px;
    margin: 0 -25px;
  }
  .cards .col-6 {
    padding: 0 10px;
  }
}
