/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'SegoeUI', Helvetica, Arial, sans-serif;
$baseFontSize            : 18px;

// Main color
$white                   : #ffffff;
$black                   : #000000;
$yellow                  : #FFE600;
$brown                   : #343434;
$blue                    : #0377FF;
$pink                    : #F62A66;
$gray                    : #9d9d9d;

