.c-brown {
    color: $brown
}
.c-blue-color {
    color: $blue-color
}
.c-gray {
    color: $gray ;
}
.fs-25 {
    font-size: 25px;
    line-height: 34px;
}
.fs-20 {
    font-size: 20px;
    line-height: 26.6px;
}
.fs-16 {
    font-size: 16px;
    line-height: 21px;
}
.fs-15 {
    font-size: 15px;
    line-height: 20px;
}
.fs-14 {
    font-size: 14px;
    line-height: 18px;
}
.fs-12 {
    font-size: 12px;
    line-height: 16px;
}
.fs-10 {
    font-size: 10px;
    line-height: 12px;
}
.fw-black {
    font-weight: 900;
}
.fw-bold {
    font-weight: 700;
}
.fw-semi {
    font-weight: 600;
}