.header {
    background: #F4F2EE
}
.navbar {
    padding: 10px 0
}
.navbar-brand {
    font-weight: 900;
    font-size: 45px;
    line-height: 61px;
}
.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
}

.nav-item.active .nav-link{
    font-weight: 900;
}