.popup {
    &_l {
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 33;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 15px;
        color: #000;
        line-height: normal;
        background: rgba(0,0,0,.5);
        transform: translateZ(0);
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
        display: inline-flex!important;
        visibility: hidden;
        &.show {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
        &-title {
            margin-bottom: 10px;
            font-weight: 800;
            font-size: 22px;
            line-height: 1.1;
            color: #000000;
        }
        &-city {
            margin: 5px 0;
            color: #1e5bf7;
            font-weight: 600;
            font-size: 16px;
            &:hover {
                color: #c00;
            }
        }
        &-cities {
            display: none;
            &.isActive {
                display: flex;
            }
        }
        &-btn {
            background: #F5F5F5;
            border-radius: 5px;
            font-weight: 600;
            font-size: 14px;
            line-height: 31px;
            text-align: center;
            color: #333333;
            width: calc(25% - 15px);
            margin-right: 20px;
            min-width: 90px;
            &:last-child {
                margin-right: 0;
            }
            &.isActive {
                background: #FFD933;
            }
        }
    }
    &_container {
        margin: auto;
        background-color: $white;
        padding: 50px 30px 30px;
        position: relative;
        max-width: 680px;
        width: 100%;
        border-radius: 15px;
    }
}
    
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px; 
    @include box(25px);
}
.input {
    &_label {
        position: absolute;
        top: 13px;
        left: 15px;
        font-size: 14px;
        line-height: 17px;
        z-index: 2;
        pointer-events: none;
    }
}
.easy-autocomplete {
    width: 100%!important;
    .input_city {
        box-shadow: 0 1px 3px #cbcbcb;
        position: relative;
        width: 100%;
        font-weight: 600;
        background: #fff;
        border: none;
        border-radius: 8px;
        resize: vertical;
        padding: 32px 15px 12px;
        font-size: 18px;
        line-height: 22px;
        border: 1px solid #dfddd8;
    }
}
.easy-autocomplete-container ul li b {
    color: #0047ff;
}

.action {
    &-btn {
        border: none;
        outline: 0;
        user-select: none;
        -moz-appearance: none;
        appearance: none;
        font-family: inherit;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }
    &-apply {
        color: #c00;

    }
}
